@import "../../../styles/styles.scss";

.videoSection {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: contain;
  -webkit-overflow-scrolling: touch;

  @media (min-width: 800px) {
    width: 80%;
  }

  @media (max-width: 799px) {
    height: 100%;
    min-height: 400px;
  }
}
